extends layout

block content
  form(method='POST')
    input(type='text', name='new_url')
    input(type='submit', value='Add URL')

  ul#urls
    each url in urls
      li
        span.url #{url}
        a.delete(href='/delete/' + encodeURIComponent(url)) Delete
