extends layout

block content
  form(method='POST', action='/urls/')
    input(type='text', name='new_url')
    input(type='submit', value='Add URL')

  ul#urls
    each url in urls
      li(class=url.status)
        span.url #{url.url}
        form(method='POST', action='/urls/' + encodeURIComponent(url.url))
          input(type='hidden', name='_method', value='DELETE')
          input(type='submit', name='delete', value='Delete')
